.container {
  position: sticky;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  background-color: #232f3e;
  margin: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: white;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.container__sec__one {
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.active {
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
  padding: 0.3rem;
  background-color: white;
  color: #bd281c;
}

.container__sec__two {
  color: white !important;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

.count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  right: 0.6rem;
  top: 0.1rem;
  border-radius: 50%;
  background-color: white;
  color: #bd281c;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.55rem;
}

#logo {
  font-family: "Alex Brush", cursive;
  font-size: 2rem;
  color: white;
}
#burger {
  font-size: 1.4rem;
}

.navlink {
  color: white;
}

@media (min-width: 520px) {
  .container {
    display: none;
  }
}
