.paginationBttns {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #232f3e;
  color: #232f3e;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #232f3e;
}

.paginationActive a {
  color: white;
  background-color: #232f3e;
}

.paginationDisabled a {
  color: grey;
  background-color: #f2f3f3;
}
