.container {
  width: 100%;
  height: 100vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 3rem;
  background-color: white;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  color: black;
}
.header > span:nth-child(1) {
  font-weight: bold;
}

.profile__list {
  margin-top: 0.2rem;
}

.profile__item {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3.5rem;
  background-color: white;
}

.profile__item > span {
  margin-left: 0.3rem;
  color: black;
}

#icon {
  font-weight: bolder;
  font-size: 1.2rem;
  color: black;
}
#view {
  font-weight: bolder;
  font-size: 1.2rem;
  color: black;
  margin-left: auto;
  text-align: center;
}

.logout {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  height: 2.5rem;
  color: #bd281c;
  background-color: white;
  margin-top: 0.2rem;
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (min-width: 520px) {
  .container {
    display: none;
  }
}

.inbox__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 520px) {
  .inbox__container {
    display: none;
  }
}
.inbox__title {
  display: flex;
  align-items: center;
  background-color: white;
  height: 2.5rem;
  margin-top: 0.2rem;
  padding-left: 1rem;
  position: sticky;
  top: 0;
  z-index: 2000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.inbox__title > span {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

#burger {
  font-size: 1.4rem;
  color: black;
  margin-top: 0.2rem;
}

.inbox__message__box {
  display: flex;
  flex-direction: column;
  height: 12rem;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.63rem;
  padding: 1rem;
}

#span {
  margin-top: 0.7rem;
}

.message__container {
  position: relative;
  display: flex;
  height: 6rem;
  width: 6rem;
  border-radius: 3rem;
  background-color: white;
  justify-content: center;
  align-items: center;
}

#mail {
  font-size: 2rem;
  color: #bd281c;
}

.message__count {
  position: absolute;
  top: 2rem;
  right: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #bd281c;
  color: white;
  background-color: #bd281c;
  font-size: 0.8rem;
  font-weight: bold;
}

.collections {
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  margin-top: 0.7rem;
}

.footer {
  margin-top: auto;
}

.orders__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 520px) {
  .orders__container {
    display: none;
  }
}

.Ordercard__container {
  display: flex;
  height: 7rem;
  background-color: white;
  margin: 0.3rem;
  border-radius: 3px;
  padding: 0.3rem;
}

.orderCard__img {
  width: 35%;
  background-color: #f2f3f3;
}
.orderCard__img > img {
  width: 100%;
  height: 100%;
}

.orderCard__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  font-size: 0.7rem;
  color: black;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

#status {
  padding: 0.15rem;
  background-color: #6dbd28;
  border-radius: 2px;
  margin-bottom: 0.2rem;
  font-size: 0.6rem;
  color: white;
  width: 3.3rem;
}

.wish__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 520px) {
  .wish__container {
    display: none;
  }
}

.wishcard__container {
  display: flex;
  flex-direction: column;
  height: 9rem;
  background-color: white;
  margin: 0.3rem;
  border-radius: 3px;
  padding: 0.3rem;
}

@media (min-width: 520px) {
  .wishcard__container {
    display: none;
  }
}

.wishcard__container__leveone {
  width: 100%;
  display: flex;
  height: 6rem;
  border-bottom: 1px solid #f2f3f3;
  padding-bottom: 0.3rem;
}

.wishcard__container__levetwo {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.1rem;
}

.wishcard__img {
  width: 35%;
  background-color: #f2f3f3;
}
.wishcard__img > img {
  width: 100%;
  height: 100%;
  background: no-repeat center center;
}

#opaque {
  opacity: 0.5;
}


.wishcard__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  font-size: 0.7rem;
  color: black;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  text-transform: capitalize;
}
.size__details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hearted {
  width: 35%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#color {
  color: #bd281c;
}
#size {
  margin-right: 0.4rem;
}

#heart {
  display: flex;
  align-items: center;
  color: #bd281c;
  font-size: 1.5rem;
  text-align: center;
  border-right: 1px solid #f2f3f3;
  padding-right: 0.7rem;
}

.buy {
  height: 2.3rem;
  background-color: #c7c7cd;
  border: 1px solid #c7c7cd;
  outline: none !important;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
  font-size: 0.7rem;
}

.out {
  height: 2.3rem;
  width: 4rem;
  background-color: #bd281c;
  border: 1px solid #bd281c;
  outline: none !important;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
  font-size: 0.7rem;
}

#remove {
  display: flex;
  align-items: center;
  color: #bd281c;
  font-size: 1.5rem;
  text-align: center;
}

#remove > span {
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  font-size: 0.7rem;
  font-weight: bold;
}

.detail__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 520px) {
  .detail__container {
    display: none;
  }
}

.detail__container__form {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.buttons {
  height: 3rem;
  width: 100%;
  background-color: #bd281c;
  outline: none;
  border-radius: 3px;
  border: 1px solid #bd281c;
  margin-top: 0.8rem;
  color: white;
  font-size: 0.8rem;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.address__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}

@media (min-width: 520px) {
  .address__container {
    display: none;
  }
}

.address__display {
  display: flex;
  flex-direction: column;
  height: 11rem;
  background-color: white;
  margin-top: 0.3rem;
}
.address__display__two {
  height: 11rem;
  margin: 0.3rem;
  background-color: white;
}

.noadd {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address__One {
  height: 8rem;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 1rem;
}
.address__One > span {
  text-transform: capitalize;
}

.address__One > span:nth-child(1) {
  margin-bottom: 0.4rem;
  font-weight: bold;
}
.address__One > span:nth-child(3) {
  margin-bottom: 0.9rem;
}
.address__One > span:nth-child(4) {
  margin-bottom: 0.4rem;
}
.address__One > span:nth-child(5) {
  color: #6dbd28;
  /* font-weight: bold; */
}
.address__two {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f3f3;
  padding: 0 1rem;
}

.edit {
  color: #bd281c;
}
.edit > span {
  font-size: 1.5rem;
}

#edit__span {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #bd281c;
}

.floating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.8rem;
  height: 6rem;
}

.floating__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 3.5rem;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  width: 3.5rem;
  border-radius: 1.5em;
  background-color: #bd281c;
  color: white;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.make__default {
  color: #bd281c;
  font-weight: bold;
}

.default__add {
  color: #c7c7cd;
}

.address__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
}

.field {
  /* margin-top: 1rem; */
}

.but {
  height: 3rem;
  width: 100%;
  background-color: #bd281c;
  border: 1px solid #bd281c;
  outline: none !important;
  border-radius: 3px;
  outline-color: #bd281c;
  color: white;
  font-size: 0.9rem;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
