.carouse__cont {
  width: 100%;
  height: 8.6rem;
  background-color: white;
   padding: 0.4rem;
  overflow: hidden;
}

.carou{
    height: 8.6rem;
}

.picks {
  background-color: white;
  padding-top: 0.5rem;
}

.title__prod {
  width: 46.5%;
  margin-left: 0.3rem;
}

.picks__cards {
  display: flex;
  height: 11rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding-top: 0.5rem;
}

.container__list {
  height: 13rem;
  width: 48%;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
}

.container__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.picture {
  height: 10rem;
}

.insider {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
}
