.carouse {
  width: 100%;
  height: 8.6rem;
  background-color: white;
  overflow-y: hidden;
  padding: 0.4rem;
}

.carouse::-webkit-scrollbar {
  display: none;
}
.inner {
  height: 8.6rem;
}

.picks {
  height: 13rem;
  background-color: white;
  padding: 0.3rem;
}
.title {
  width: 48.5%;
}
.title__prod {
  width: 47%;
  margin-left: 0.3rem;
}

.picks__cards {
  display: flex;
  height: 11rem;
  width: 10.6rem;
}

.container__cards {
  margin-right: 0.16rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  /* padding-left: 0.3rem;
  padding-right: 0.3rem; */
}

.container__list {
  height: 13rem;
  width: 10.6rem;
  margin-top: 0.3rem;
  margin-left: 0.46rem;
  display: flex;
  flex-direction: column;
}

.container__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.insider {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  width: 10.6rem;
}
.insider__two {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  width: 10.6rem;
}
