.paginationBttns {
  width: 80%;
  height: 25px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #bd281c;
  color: #bd281c;
  cursor: pointer;
   
}

.paginationBttns a:hover {
  color: #bd281c;
  background-color: white
}

.paginationActive a {
  color: white;
  background-color: #bd281c;
}

.paginationDisabled a {
  color: #bd281c;
  background-color: white;
}
